    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Rendezvous</h1>
        <h2>Pops Keyboard Scores</h2>
        <p>This site provides pops keyboard scores that focus on the auto accompaniment feature in moden portable keyboards that suitable for beginners.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Little Hans</h2>
          <%= image_tag("treble_staff.png", alt: "Treble Staff", height: 100, width: 50, class: "align-center") %>
          <ul>
            <li>Song title: Little Hans</li>
            <li>Composer: German children's song</li>
            <li>Date published: Aug 23, 2017</li>
          </ul>          
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Scarborough Fair</h2>
          <%= image_tag("treble_staff.png", alt: "Treble Staff", height: 100, width: 50, class: "align-center") %>            
          <ul>
            <li>Song title: Scarborough Fair</li>
            <li>Composer: English folk song</li>
            <li>Date published: Aug 23, 2017</li>              
          </ul>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Amazing Grace</h2>
          <%= image_tag("treble_staff.png", alt: "Treble Staff", height: 100, width: 50, class: "align-center") %>            
          <ul>
            <li>Song title: Amazing Grace</li>
            <li>Composer:  John Newton</li>
            <li>Date published: Aug 23, 2017 </li>
          </ul>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
