/* jumbotron.css */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
/*  padding-top: 3.5rem; */
  padding-top: 6.5rem;
}

.jumbotron {
  background-image: image-url('banner_keyboard.png');
  background-repeat: no-repeat;
  background-position: right top;
}

/* jimmy.scss */

.navbar {
  background-color:#0056b3;
}

img.align-center {
    display: block;
    margin: 0px auto;
}

.warning {
  color: red;
}

p {
  font-size: 1.5em;
}

/* Score image fits the grid/container */
.score_cover {
    max-height: 100%;
    max-width: 100%;    
}
